* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}
.fill {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 1px teal;
  position: relative;
}
.fill::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: rgba(0, 115, 150, 0.5);
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}
.fill:hover::before {
  width: 100%;
}
.fill::after {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-text-fill-color: rgba(0, 115, 150, 0.5);
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}
.fill:hover::after {
  width: 100%;
}
